<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sahar Amanmohamadi
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Who I'm</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Sahar Aman is an accomplished writer and editor with over a decade of experience in lifestyle, travel, and wellness content. 
      She has contributed to various international publications such as Globe and Mail and Culture Trip, and has worked as an editorial manager for companies like Tonal and TourRadar. 
      Based in Toronto, she has lived in Pakistan, the UK, and Canada, shaping her unique perspective on global cultures and experiences.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <a href="/resources/Sahar_Aman_CV.pdf" target="_blank">My resume</a>
    </ion-card-content>
  </ion-card>

  <app-explore-container name="Profile page"></app-explore-container>
</ion-content>
